@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
.container-fluid {
  padding-right: 0;
  padding-left: 0; }
  .container-fluid .navbar .navbar-header {
    margin-left: 10%; }
  .container-fluid .navbar .navbar-right li #search {
    margin-left: -100%; }
  .container-fluid .navbar .navbar-right li .fa {
    margin-left: -600%;
    margin-top: 10px; }
  .container-fluid .cover-photo {
    padding-top: 50px; }
    .container-fluid .cover-photo img {
      height: 400px;
      width: 100%;
      display: block;
      margin-top: 0;
      padding-top: 0; }

.intro {
  margin-left: 15%; }
  .intro .profile-picture {
    margin-top: -17%; }
    .intro .profile-picture img {
      max-width: 100%;
      height: auto;
      display: block;
      border: solid 5px #E6F4FE; }
  .intro .info {
    margin-top: -13%; }
    .intro .info .id {
      color: #CCCCCC; }

.container .main-part .left {
  padding-left: 7%; }
  .container .main-part .left span {
    font-weight: bold;
    font-size: 18px; }
  .container .main-part .left .skills {
    margin-top: 4%; }
.container .main-part .center .status {
  width: 90%;
  height: 90%;
  border: solid 2px #CCCCCC;
  border-radius: 5px; }
  .container .main-part .center .status textarea {
    width: 80%;
    height: 100%;
    margin: 5% 10%; }
  .container .main-part .center .status .btn-default {
    display: inline;
    float: right;
    margin-right: 5%;
    margin-bottom: 3%;
    background-color: #d9dddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3)); }
.container .main-part .center .post {
  background-color: #E6F4FE;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 0.5%;
  width: 91%;
  height: auto; }
  .container .main-part .center .post .name-post {
    margin-left: -3%;
    margin-top: 1%;
    font-size: 15px; }
    .container .main-part .center .post .name-post .id {
      font-weight: bold; }
  .container .main-part .center .post .close {
    padding-left: 8%;
    padding-top: 2%; }
  .container .main-part .center .post .status-post p {
    font-size: 17px;
    float: left;
    padding: 5%; }
  .container .main-part .center .post .status-post img {
    padding: 0 8%;
    border-radius: 5px; }
  .container .main-part .center .post .like {
    margin: 10%;
    padding-bottom: 5%; }
    .container .main-part .center .post .like span {
      color: #337ABF; }
.container .right-part {
  margin-top: 2%; }
  .container .right-part #people {
    background-color: #26759e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3175B0), to(#2B679B));
    color: #FFFFFF;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    padding: 5%; }
  .container .right-part #name2 {
    border: solid 2px #CCCCCC;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    padding: 5%; }

/*# sourceMappingURL=style.css.map */
